@model UserManagementSystem.Model.Models.DeleteModel

@{

    Layout = null;
}

<form id="DeleteForm" asp-action="Delete" method="POST" asp-anti-forgery="true">
    <div>
        <dl class="row">
            @Html.AntiForgeryToken()
            <dt class="col-sm-2">
                @Html.HiddenFor(model => model.Id)
            </dt>
        </dl>
    </div>
</form>
